.ad-banner{
    
    font-weight: bold;
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 28em;
    gap: 30px;
    
    

}

.blue-btn {
    color: white;
    background-color: #578B87;
    width: 10em;
    height: 3em;
}

.ad-banner h3 {
       font-size: 24px; 
       font-weight: 300;

}