.recipe-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    margin: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    justify-content:space-between;
    align-items: center;
    text-align: center;
  }
  .image-card{
    width: 300px;
  height: 300px;
  margin-bottom: 10px;
  }
 


  .recipeimg {
    object-fit: cover;
	height: 100%;
	width:100%;
  }

 .recipe-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

 .see_more {
    
    width: 10em;
    background-color:  #578B87;
    margin-bottom: 3em;
 }

 .see_more a {
    text-decoration: none;
    color: white;
    font-size: 20px;
 }

 