/* --------- This is CSS Reset Code --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* --------- Begin your CSS Below here --------- */

* {
	box-sizing: border-box;

}
header {
	height: 60px;
	display:flex;
	flex-direction: row;
	background-color: #D97236;
	color: white;
	justify-content:space-between;
	position: sticky;
	top: 0%;
	font-weight: 300;
	padding: 0px 50px;
	align-items: center;	
	width: 100vw;
}

.search-bar{
	min-width: 250px;
  width: 30vw;
  border-radius: 50px;
  border: none;
  background-color: #da773551;
  display: flex;
  align-items: center;
  padding: 0 0 0 5px;
  box-sizing: border-box;
}

.search-bar input {
	width: 100%;
  border-radius: 0 30px 30px 0;
  font-size: 20px;
}

.search_bar svg {
	height: 80%;
  }

.header a.active ,
.header a:active
.header a:hover{
	color:red;
	font-weight: bolder;
}

footer {
	display:flex;
	height: 150px;
	background-color: #3E3E3E;
	color: white;
	justify-content: space-around;
	position:fixed;
	bottom: 0%;
	width: 100%;
	

	
}

.ad {
	display:flex ;
	text-align: center;
}

img {
	object-fit: cover;
	height: 100%;
	width:100%;
}


.icon {
	height: 50px ;
	width: 50px;
	border-radius: 50%;
    margin: 10px;
	display: inline-block;
	background-color: #578B87;
	
}
.search-bar {
	display: flex;
	justify-content: center;
	padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
	

}





.allIcons {
	text-align: center;
	margin-top: 35px;
}

svg {
	
		margin-top: 12px;
		
	
}

h2 {
	font-size: 24px;
}

.recipe-container {
	display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.recipe-section {
	display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
